{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "printWidth": 120,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
